<!DOCTYPE html>
<html lang="en">
{% extends 'teacher/teacherhome.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-9">
 <div class="card mb-9">
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        View notifications
    </div>
    <div class="card-body">
 <table class="table">
  <thead>
    <tr>
       <th scope="col">SI No.</th>

       <th scope="col">Subject</th>
       <th scope="col">Description</th>

       <th scope="col">Date</th>

    </tr>
  </thead>
  <tbody>
  {% for i in noti %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>

      <td>{{i.subject}}</td>
      <td>{{i.description}}</td>
      <td>{{i.date}}</td>

        <td>
            <form action="{% url 'notificationtdelete' i.id %}" method="post">
          {% csrf_token %}
       <input type="hidden" name="teacher" value="{{i.id}}"/>
        <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>



    </tr>
  {% endfor %}
    </tbody>
</table>
    </div>
 </div>
</div>
</body>
</html>
{% endblock %}