<!DOCTYPE html>
<html lang="en">
{% extends 'adminpannel/adminhome.html' %}
{% block content %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-9">
 <div class="card mb-9">
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Reply below
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
        <div>
            <label>Reply</label><br>
            <textarea class="from-control" name="reply" id="" cols="50" rows="7"></textarea>
        </div>

      <button type="submit" class="btn btn-primary">Submit</button>



  </form>
    </div>
 </div>
</div>
</body>
</html>
{% endblock %}